<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to django project 😊 Lets Know your Lucky Number</h1>
    <h2>Your Lucky Number is: -{{lucky_number}}</h2>

    <hr>

   
    {% for Veggies in Veggies%}
     <li>
    {{Veggies}}
    
    </li>
    {%endfor%}
    
      <p>
        
        <a href={% url 'about' %}>About❤️</a>
        <a href={% url 'contact'%}>Contact📞</a>
    </p>
</body>
</html>