
{% extends "base.html"%}
{%block start%}

    <h1>Welcome to django project 😊 Lets Know your Lucky Number</h1>
    <h2>Your Lucky Number is: - <button class="btn-success">{{lucky_number}}</button></h2>

    <hr>

   
    {% for Veggies in Veggies%}
     <li>
    {{Veggies}}
     </li>
    {%endfor%}
    <hr>
    <br>
    <h2>  Cities Information </h2>
  
       <h2>S.No  | Name  | Population | country </h2>
         {%for city in cities%}
             <p>{{forloop.counter}}|{{city.name}} | {{city.population}} | {{city.country}}</p>
         {%endfor%}
    <br>

      <p>
        <a href={% url 'about' %}>About ❤️</a>
        <a href={% url 'contact'%}>Contact 📞</a>
     </p>
{% endblock %}







