{% extends "base.html" %}
{%block start%}

<div class="container mt-5">
    <h2>Guess the lucky number 🎲 </h2>
    <br>
    <form>
        <div class="form-group col-md-5 mx-auto">
            <h3><label >Hope You Win!!!</label></h3>
            <input class="form-control mt-1" id="input" placeholder="Guess The Number">

        </div>
        <div class="text-center mt-4">
            <button class="btn btn-success " onclick="checkLuck()" type="button">Check Now</button>
        </div>
    </form>
</div>
        
        <script>
            var lucky_number="{{lucky_number}}"
            var count=4
            console.log(lucky_number)
            function checkLuck(){

                var input=document.getElementById('input')
                if(input == "")
                {
                    alert("input cannot be blank")
                    return
                }   
            
             
                if(count<=0){
                     alert("You have exhausted the counts")
                     return
                }
                count-=1 
                if(lucky_number == input.value)
                {
                    alert("WoW!! You Won")
                    window.location.reload()
                    return
                }
                else if(lucky_number < input.value){
                      alert(`Sorry, Your guess is too big\n Try Again ${count} times`)
                      return
                }else if(lucky_number > input.value){
                      alert(`Sorry, Your guess is too small\n Try Again with ${count} tries`)
                      input.value= ""
                      return
                    }
                   
               
            
            }
            
        </script>
</div>
{% endblock%}
